
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <!--top-->
    <div class="row​ col-md-12 btn-group" style="padding:3px;">
        <a href="/Manage/Document" class="btn-cus-top sp-btn" style="width:10%">បញ្ជី</a>
        <button class="btn-cus-top sp-btn " style="width:10%" id="btnShift" data-value="1" data-toggle="modal" data-target="#mShift"><span id="shift-text" data-shtext>ល្ងាច</span></button>
        <a href="javascript:void(0)" id="btn-before"><i class="fa fa-chevron-circle-left custom" aria-hidden="true" style="margin:0px;"></i></a>
        <input type="text" name="sp-date" id="sp-date" value="2017-02-08" class="" style="height: 35px; width: 80px;font-size: 10pt;" />
        <a href="javascript:void(0)" id="btn-next"><i class="fa fa-chevron-circle-right custom" style="margin:0px;" aria-hidden="true"></i></a>
        <span class="custom-p" style="padding:5px;">វគ្គ</span>
        <input type="text" class="sp-input" style="width:35px; height:35px;" value="1" readonly="readonly" name="input-part" id="sp-session" />
        <select class="sp-input" id="sp-agency"></select>
        <a href="/Manage" class="sp-btn btn-default" style="width:10%">ត្រឡប់</a>
    </div>
    <div class="mid-left" id="fdisplay" style="overflow-y:auto; padding:5px;">
        <div class="PDisplay">

        </div>
    </div>
    <div class="mid-right">
        <div id="play-fun" class="">
            <div class="form-group">
                @*<label for="txtPost" class="col-sm-2 control-label">ប៉ុស្តន៍</label>*@
                <div class="col-sm-10">
                    <input type="text" readonly="readonly" style="" class="form-control sp-input1" data-multiplier="1" data-post="3" id="txtPost" placeholder="ប៉ុស្តន៍">
                </div>
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <input type="text" readonly="readonly" class="form-control sp-input" id="txtNum" placeholder="លេខ">
                    </td>
                    <td>:</td>
                    <td>
                        <input type="text" readonly="readonly" class="form-control sp-input" id="txtAmount" placeholder="ចំនួនប្រាក់">
                    </td>
                </tr>
                <tr id="p-sign" data-value="os" style="display: none;">
                    <td>
                        <input type="text" class="form-control sp-input" id="txtINum" style="display:none;" placeholder="Sign">
                    </td>
                    <td><i class="fa fa-long-arrow-down"></i></td>
                    <td>
                        <select id="OptType" style="display:none;">
                            <option value="1">ធម្មតា</option>
                            <option value="2">ក្បាល</option>
                            <option value="3">កណ្តាល</option>
                            <option value="4">កន្ទុយ</option>
                            <option value="5">គុណ</option>
                            <option value="6">ជឹង</option>
                        </select>
                    </td>
                </tr>
                <tr id="p-sign-x" data-value="x3" style="display: none;">
                    <td></td>
                    <td>:</td>
                    <td><span id="p-sign-x">x2</span></td>
                </tr>
                <tr id="p-last-num" style="display: none;">
                    <td>
                        <input type="text" readonly="readonly" class="form-control sp-input" id="txtNum1" placeholder="លេខ" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <input type="hidden" value="1" name="txtPlayType" id="txtPlayType" />
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7 display">

            </div>
        </div>
        <div class="row">
            <div class="col-md-7 btn-group pull-right">
                <button class="btn-custom sp-btn-4 sp-btn" id="spPlay" style="min-height:40px;">ចាក់</button>
                <button class="btn-cus sp-btn-4 funPlay sp-btn" data-value="show" style="min-height:40px;">បង្ហាញ</button>
                <button class="btn-custom sp-btn-4 sp-btn " id="spLoad" style="min-height:40px;"><i class="fa fa-file-text-o" aria-hidden="true"></i></button>
                <button class="btn-custom sp-btn-4 sp-btn " style="min-height:40px;">សង</button>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-7 btn-group pull-right">
                <button class="btn-custom sp-btn-4 sp-btn " style="min-height:40px;"><<<</button>
                <button class="btn-custom sp-btn-4 sp-btn fPlayType" data-value="2" style="min-height:40px;"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>9</button>
                <button class="btn-custom sp-btn-4 sp-btn fPlayType" data-value="2" style="min-height:40px;"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></button>
                <button class="btn-custom sp-btn-4 sp-btn fPlayType" data-value="2" style="min-height:40px;"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-7 btn-group pull-right">
                <button class="btn-custom sp-btn-4 sp-btn " data-value="post" data-toggle="modal" style="min-height:40px;" id="btnPost" data-target="#mPost">ប៉ុស្តិ៍</button>
                <button class="btn-custom sp-btn-4 sp-btn fPlayType" data-value="2" style="min-height:40px;"><i class="fa fa-long-arrow-left" aria-hidden="true" style=""></i></button>
                <button class="btn-custom sp-btn-4 sp-btn fPlayType" data-value="2" style="min-height:40px;"><i class="fa fa-long-arrow-down" aria-hidden="true" style=""></i></button>
                <button class="btn-custom sp-btn-4 sp-btn fPlayType" data-value="2" style="min-height:40px;"><i class="fa fa-long-arrow-right" aria-hidden="true" style=""></i></button>
            </div>
        </div>
    </div>
    <div class="row​  col-md-12  btn-group" style="padding:0; min-height:50px;">
        <button class="sp-btn-5 sp-btn50 sp-btn funcR" data-value="delete" style="min-height:50px;">លុប</button>
        <button class="sp-btn-5 sp-btn50 sp-btn key" data-value="7" style="min-height:50px;">7</button>
        <button class="sp-btn-5 sp-btn50 sp-btn key" data-value="8" style="min-height:50px;">8</button>
        <button class="sp-btn-5 sp-btn50 sp-btn key" data-value="9" style="min-height:50px;">9</button>
        <button class="sp-btn-5 sp-btn50 sp-btn fPlayType" data-value="5" style="min-height:50px;">*</button>
    </div>
    <div class="left" style="width:80%;">
        <div class="row">
            <div class="col-md-12 btn-group">
                <button class="sp-btn-4 sp-btn50 sp-btn key funcR" data-value="removeall" style="min-height:50px; "><i class="fa fa-times" style="color:red;" aria-hidden="true"></i></button>
                <button class="sp-btn-4 sp-btn50 sp-btn key" data-value="4" style="min-height:50px;">4</button>
                <button class="sp-btn-4 sp-btn50 sp-btn key" data-value="5" style="min-height:50px;">5</button>
                <button class="sp-btn-4 sp-btn50 sp-btn key" data-value="6" style="min-height:50px;">6</button>
            </div>
            <div class="col-md-12 btn-group">
                <button class="sp-btn-4 sp-btn50 sp-btn funcR" data-value="remove" style="min-height:50px;"><i class="fa fa-times" aria-hidden="true"></i></button>
                <button class="sp-btn-4 sp-btn50 sp-btn key" data-value="1" style="min-height:50px;">1</button>
                <button class="sp-btn-4 sp-btn50 sp-btn key" data-value="2" style="min-height:50px;">2</button>
                <button class="sp-btn-4 sp-btn50 sp-btn key" data-value="3" style="min-height:50px;">3</button>
            </div>
            <div class="col-md-12 btn-group">
                <button class="sp-btn-4 sp-btn50 sp-btn funcR" data-value="newSession" style="min-height:50px;">វគ្គថ្មី</button>
                <button class="key sp-btn50 sp-btn " style="width:50%; min-height:50px;" data-value="0">0</button>
                <button class="sp-btn-4 sp-btn50 sp-btn key" style="min-height:50px;">.</button>
            </div>
        </div>
    </div>
    <div class="right" style="width:20%; height:100%;">
        <button class="sp-btn-1 KeyPlus sp-btn" style="min-height:50px;"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="sp-btn-1 KeyEnter sp-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    </div>
</div>

@*Modal*@
<div class="modal fade" id="mShift" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h2>ពេល</h2>
            </div>
            <div class="modal-body">
                <div class="container-fluid text-center">
                    <div class="row">
                        <button class="btn sp-btn btn-default col col-xs-12 kShift" data-value="1" data-text="ល្ងាច">ល្ងាច</button>
                    </div>
                    <div class="row">
                        <button class="btn sp-btn btn-default col col-xs-12 kShift" data-value="2" data-text="យប់">យប់</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-default col col-xs-12 kShift" data-value="OK"><i class="fa fa-arrow-left"></i></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="ePost" role="dialog">
    <div class="modal-dialog modal-md" style="margin-top:70px;">
        <div class="modal-content">
            <div class="modal-header">
                <h2>ប៉ុស្តន៍(យប់)</h2>
            </div>
            <div class="modal-body">
                <p class="clearfix"></p>
                <h2>ប៉ុស្តន៍(យប់)</h2>
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="1" data-value="A1" data-multiplier="1">A1</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="2" data-value="A2" data-multiplier="1">A2</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="3" data-value="A3" data-multiplier="1">A3</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="4" data-value="A4" data-multiplier="1">A4</div>
                    </div>
                    <div class="row">
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="5" data-value="A" data-multiplier="1">A</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="6" data-value="B" data-multiplier="1">B</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="7" data-value="C" data-multiplier="1">C</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="8" data-value="D" data-multiplier="1">D</div>
                    </div>
                    <div class="row">

                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="9" data-value="AB" data-multiplier="2">AB</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="10" data-value="AC" data-multiplier="2">AC</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="11" data-value="AD" data-multiplier="2">AD</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="12" data-value="BC" data-multiplier="2">BC</div>
                    </div>
                    <div class="row">
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="13" data-value="BD" data-multiplier="2">BD</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="14" data-value="CD" data-multiplier="2">CD</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="15" data-value="ABC" data-multiplier="3">ABC</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="16" data-value="ABD" data-multiplier="3">ABD</div>

                    </div>
                    <div class="row">
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="17" data-value="ACD" data-multiplier="3">ACD</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="18" data-value="BCD" data-multiplier="3">BCD</div>
                        <div class="btn btn-default col col-xs-6 f-xlarge kpost" data-id="20" data-value="ABCD" data-multiplier="4">ABCD</div>

                    </div>
                    <div class="row">
                        <div class="btn btn-default col col-xs-6 f-xlarge kpost" data-id="21" data-value="Lo25-32" data-multiplier="25">Lo25-32</div>
                    </div>
                    <div class="row">
                        <div class="btn btn-default col col-xs-12 kpost btn-lg" data-value="OK"><i class="fa fa-arrow-left"></i></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>

<div class="col-12 modal fade" id="mPost" role="dialog">
    <div class="modal-dialog modal-md" style="margin-top:70px;">
        <div class="modal-content">
            <div class="modal-header">
                <h2>ប៉ុស្តន៍</h2>
            </div>
            <div class="modal-body">
                <p class="clearfix"></p>
                <h2>ប៉ុស្តន៍(ល្ងាច)</h2>
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="1" data-value="A" data-multiplier="1">A</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="2" data-value="B" data-multiplier="1">B</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="3" data-value="C" data-multiplier="1">C</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="4" data-value="D" data-multiplier="1">D</div>

                    </div>
                    <div class="row">
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="5" data-value="H" data-multiplier="1">H</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="6" data-value="AB" data-multiplier="2">AB</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="7" data-value="AC" data-multiplier="2">AC</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="8" data-value="AD" data-multiplier="2">AD</div>

                    </div>
                    <div class="row">
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="9" data-value="AH" data-multiplier="2">AH</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="10" data-value="BH" data-multiplier="2">BH</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="11" data-value="CH" data-multiplier="2">CH</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="12" data-value="HD" data-multiplier="2">HD</div>

                    </div>
                    <div class="row">
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="13" data-value="BD" data-multiplier="2">BD</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="14" data-value="CD" data-multiplier="2">CD</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="15" data-value="ABC" data-multiplier="3">ABC</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="16" data-value="ABD" data-multiplier="3">ABD</div>

                    </div>
                    <div class="row">
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="17" data-value="ACD" data-multiplier="3">ACD</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="18" data-value="BCD" data-multiplier="3">BCD</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="19" data-value="ABH" data-multiplier="3">ABH</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="20" data-value="BCDH" data-multiplier="4">BCDH</div>

                    </div>
                    <div class="row">
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="21" data-value="4P" data-multiplier="4">4P</div>
                        <div class="btn btn-default col col-xs-3 f-xlarge kpost" data-id="22" data-value="5P" data-multiplier="5">5P</div>
                        <div class="btn btn-default col col-xs-6 f-xlarge kpost" data-id="23" data-value="Lo20-25" data-multiplier="20">Lo20.25</div>

                    </div>
                    <div class="row">
                        <div class="btn btn-default col col-xs-12 kpost" data-value="OK"><i class="fa fa-arrow-left"></i></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>
@*End Modal*@
@section Scripts
{
    <div>
        <script>
        //function handleICNumChange(input) {

        //    if (input.value < 0) input.value = 0;
        //    if (input.value > ) input.value = 100;
        //}
        function dRemove(event) {
            var id = event.closest('.LDisplay'); //("..LDisplay");
            var HORGADDID = $('#HORGADDID').val();
            _Date = $("#sp-date").val();

            var _Date = event.getAttribute("data-PlayDate");
            var Shift = event.getAttribute("data-Shift");
            var Post = event.getAttribute("data-Post");
            var Session = event.getAttribute("data-Session");
            var CustomerID = $("#sp-agency").val();
           // alert(_Date);
            data = {
                "PlayDate": _Date
                , "Shift": Shift
                , "Post": Post
                , "Session": Session
                , "CustomerID": CustomerID
            }
            var url = "/Front/_cancelplayP";
            $.post(url, data, function (data) {
                //  alert(data);
                if (data.Status == "OK") {
                    $("#fdisplay").html("");
                    $("#spLoad").click();

                } else {
                    alert(data.Result);
                    //$('#dialogOrgMember #dialogContent').scrollTop(0);
                }
            });

            //alert(_post);
            //id.remove();
            //alert(event.id);
            //event.remove();
        }

        function dRemovePD(PID) {

            data = {
                "PID": PID
            }
            var url = "/Front/_cancelplayPD";
            $.post(url, data, function (data) {
                //  alert(data);
                if (data.Status == "OK") {
                    $("#fdisplay").html("");
                    $("#spLoad").click();

                } else {
                    alert(data.Result);
                    //$('#dialogOrgMember #dialogContent').scrollTop(0);
                }
            });

            //alert(_post);
            //id.remove();
            //alert(event.id);
            //event.remove();
        }
        $(document).ready(function () {
            // GET CURRENT DATE
            var date = new Date();
            $('.sp-input').removeClass('spselected');
            $("#txtNum").addClass("spselected");
            // GET YYYY, MM AND DD FROM THE DATE OBJECT
            var yyyy = date.getFullYear().toString();
            var mm = (date.getMonth() + 1).toString();
            var dd = date.getDate().toString();

            // CONVERT mm AND dd INTO chars
            var mmChars = mm.split('');
            var ddChars = dd.split('');

            // CONCAT THE STRINGS IN YYYY-MM-DD FORMAT
            var datestring = yyyy + '-' + (mmChars[1] ? mm : "0" + mmChars[0]) + '-' + (ddChars[1] ? dd : "0" + ddChars[0]);
            $("#sp-date").val(datestring);

            loanPlay();

            var url = "/UtiHelper/_getOptionListByKeyOder";
            var id = 3;
            data = JSON.stringify({ id: null });
            dpObject = $("#sp-agency");
            fechOption(dpObject, url, null, "Agencies", "AgencyID", "AgencyName", "AgencyID", "AgencyID", "ASC", '<option value="0"> --ភ្នាក់ងារ-- </option>');

            $("#spLoad").click(function (event) {
                loanPlay();
            });

            $("#sp-agency").change(function (event) {
                loanPlay();
            });

        });

        function loanPlay() {
            // alert("#spLoad");
            $("#fdisplay").html("");


            var validate = true;
            if (validate == false) {
                alert('false');
                return;
            } else {

                var error_free = true;
                var url = "/Front/_LoadPlay";
                //alert(url);
                if (!error_free) {
                    //event.preventDefault();
                }
                else {


                    var HORGADDID = $('#HORGADDID').val();
                    var _Date = $("#sp-date").val();
                   var Shift = $("#btnShift").data("value");
                   var Session = $("#sp-session").val();
                   var CustomerID = $("#sp-agency").val();
                    data = {
                        "PlayDate": _Date
                        , "Shift": Shift
                        , "Session": Session
                        , "CustomerID": CustomerID
                    }

                    $.post(url, data, function (data) {
                        //  alert(data);
                        if (data.Status == "OK") {
                            // PlayID
                            $("#sp-session").val(data.MaxSession)
                            var _post = '';
                            var _SessionPost = '';
                            var _PDisplay = "";
                            var i = 0;
                            var _AgcCommission = data.AgcCommission;
                            //alert(_AgcCommission)
                            var _t = data.Total;

                            var _TotalAfterComm = data.TotalAfterComm;
                            //alert(_TotalAfterComm)
                            $.each(data.Result, function (i, item) {
                                //alert(item.PlayID);
                                if (_SessionPost != item.SessionPost) {
                               // if (_post != item.Post) {
                                    if (i > 0) {
                                        _PDisplay += '		</tbody>' +
                                                    '	</table>' +
                                                    '</div>';

                                    }
                                    _PDisplay += '<div class="LDisplay" id="' + item.PlayID + '">' +
                                                '	<div class="dSession" id="' + item.PlayID + '" onclick="dRemove(this);" style="padding-right:20px; font:larger;"data-Post="' + item.Post + '" data-PlayDate="' + item.PlayDate + '" data-Shift="' + item.Shift + '" data-Session="' + item.Session + '" data-CustomerID="' + item.CustomerID + '" data-playtype="1" data-postmultiplier="4">' +
                                                '	('+ item.Session +') <span class="dPost" data-value="3">' + item.Post + '</span> ' +
                                                '	<i class="glyphicon glyphicon-remove text-red dRemove"></i>' +
                                                '	</div>' +
                                                '	<table class="text-right pull-right sptb-display" id="' + item.Post + '">' +
                                                '		<tbody>';

                                    if (item.PlayType == 1) {
                                        _PDisplay += '			<tr class="trP" data-post="' + item.Post + '" data-playamount="' + item.PlayAmount + '" data-number="' + item.Number + '" data-number1="' + item.Number1 + '" data-numincrease="" data-playtype="1" data-postmultiplier="4">' +
                                                    '				<td>' + item.Number + '</td>' +
                                                    '				<td>:</td>' +
                                                    '				<td>' + item.PlayAmount + ' ៛ <span onclick="dRemovePD(' + item.PlayID + ')"><i class="glyphicon glyphicon-remove text-red dRemove"></i></span></td>' +
                                                    '				</tr>';
                                    } else if (item.PlayType == 2) {
                                        _PDisplay += '			<tr class="trP" data-post="' + item.Post + '" data-playamount="' + item.PlayAmount + '" data-number="' + item.Number + '" data-number1="' + item.Number1 + '" data-numincrease="" data-playtype="1" data-postmultiplier="4">' +
                                                '				<td>' + item.Number + '</td>' +
                                                '				<td>:</td>' +
                                                '				<td>' + item.PlayAmount + ' ៛ </td>' +
                                                '				</tr>' +
                                                '				<td><span><i class="fa fa-long-arrow-down"></i></span></td>' +
                                                '				<td>(' + item.NumIncrease + '):</td>' +
                                                '				<td><span><i class="fa fa-long-arrow-down"></i></span></td>' +
                                                '				</tr>'+
                                                '			<tr>' +
                                                '				<td>' + item.Number1 + '</td>' +
                                                '				<td>:</td>' +
                                                '				<td>' + item.PlayAmount + ' ៛  <span onclick="dRemovePD(' + item.PlayID + ')"><i class="glyphicon glyphicon-remove text-red dRemove"></i></span></td>' +
                                                '		    </tr>';
                                    } else if (item.PlayType == 5) {
                                        _PDisplay += '			<tr class="trP" data-post="' + item.Post + '" data-playamount="' + item.PlayAmount + '" data-number="' + item.Number + '" data-number1="' + item.Number1 + '" data-numincrease="" data-playtype="1" data-postmultiplier="4">' +
                                                '				<td>' + item.Number + '</td>' +
                                                '				<td>x:</td>' +
                                                '				<td>' + item.PlayAmount + ' ៛  <span onclick="dRemovePD(' + item.PlayID + ')"><i class="glyphicon glyphicon-remove text-red dRemove"></i></span></td>' +
                                                '				</tr>';
                                    }

                                } else {



                                    if (item.PlayType == 1) {
                                        _PDisplay += '			<tr class="trP" data-post="' + item.Post + '" data-playamount="' + item.PlayAmount + '" data-number="' + item.Number + '" data-number1="' + item.Number1 + '" data-numincrease="" data-playtype="1" data-postmultiplier="4">' +
                                                    '				<td>' + item.Number + '</td>' +
                                                    '				<td>:</td>' +
                                                    '				<td>' + item.PlayAmount + ' ៛  <span onclick="dRemovePD(' + item.PlayID + ')"><i class="glyphicon glyphicon-remove text-red dRemove"></i></span></td>' +
                                                    '				</tr>';
                                    } else if (item.PlayType == 2) {
                                        _PDisplay += '			<tr class="trP" data-post="' + item.Post + '" data-playamount="' + item.PlayAmount + '" data-number="' + item.Number + '" data-number1="' + item.Number1 + '" data-numincrease="" data-playtype="1" data-postmultiplier="4">' +
                                                '				<td>' + item.Number + '</td>' +
                                                '				<td>:</td>' +
                                                '				<td>' + item.PlayAmount + ' ៛  <span onclick="dRemovePD(' + item.PlayID + ')"><i class="glyphicon glyphicon-remove text-red dRemove"></i></span></td>' +
                                                '				</tr>' +
                                                '				<td><span><i class="fa fa-long-arrow-down"></i></span></td>' +
                                                '				<td>(' + item.NumIncrease + '):</td>' +
                                                '				<td><span><i class="fa fa-long-arrow-down"></i></span></td>' +
                                                '				</tr>' +
                                                '			<tr>' +
                                                '				<td>' + item.Number1 + '</td>' +
                                                '				<td>:</td>' +
                                                '				<td>' + item.PlayAmount + ' ៛  <span onclick="dRemovePD(' + item.PlayID + ')"><i class="glyphicon glyphicon-remove text-red dRemove"></i></span></td>' +
                                                '		    </tr>';
                                    } else if (item.PlayType == 5) {
                                        _PDisplay += '			<tr class="trP" data-post="' + item.Post + '" data-playamount="' + item.PlayAmount + '" data-number="' + item.Number + '" data-number1="' + item.Number1 + '" data-numincrease="" data-playtype="1" data-postmultiplier="4">' +
                                                '				<td>' + item.Number + '</td>' +
                                                '				<td>x:</td>' +
                                                '				<td>' + item.PlayAmount + ' ៛  <span onclick="dRemovePD(' + item.PlayID + ')"><i class="glyphicon glyphicon-remove text-red dRemove"></i></span></td>' +
                                                '				</tr>';
                                    }
                                }

                                _post = item.Post;
                                _SessionPost = item.SessionPost;
                                i = i + 1;
                            });
                            if (i > 0) {
                                _PDisplay += '		</tbody>' +
                                            '	</table>' +
                                            '</div>';
                                }
                            $("#fdisplay").html("");
                            $("#fdisplay").html(_PDisplay);
                            var _totalString = '<p class="pSessionline"> </p>' +
                                                '<div class="dSession" style="padding-right:20px; font:larger;">' +
                                                '	<table class="text-right pull-right sptb-display" id="tblTotal">' +
                                                '		<tbody>' +
                                                '			<tr>' +
                                                '				<td>សរ</td>' +
                                                '				<td>=</td>' +
                                                '				<td>' + _t + '</td>' +
                                                '				<td></td>' +
                                                '			</tr>' +
                                                '			<tr>' +
                                                '				<td>' + _AgcCommission + '</td>' +
                                                '				<td>:</td>' +
                                                '				<td>' + _TotalAfterComm + '</td>' +
                                                '				<td></td>' +
                                                '			</tr>' +
                                                '		</tbody>' +
                                                '	</table>' +
                                                '</div>';
                            if (_t != 0) {
                                $("#fdisplay").append(_totalString);
                            }

                        } else {
                            alert(data.Result);
                            //$('#dialogOrgMember #dialogContent').scrollTop(0);
                        }
                    });
                }
            }
			var objDiv = document.getElementById("fdisplay");
			objDiv.scrollTop = objDiv.scrollHeight;
			var height = objDiv.scrollHeight + 50;
			$('#fdisplay').animate({scrollTop: height});
			//alert(height);
            return false;
        }
        $("#btn-next").click(function (event) {
            var _date = $("#sp-date").val();
            var someDate = new Date(_date);
            someDate.setDate(someDate.getDate() + 1); //number  of days to add, e.x. 15 days
            var dateFormated = someDate.toISOString().substr(0, 10);
            $("#sp-date").val(dateFormated);
            loanPlay();
        });

        $("#btn-before").click(function (event) {
            var _date = $("#sp-date").val();
            var someDate = new Date(_date);
            someDate.setDate(someDate.getDate() - 1); //number  of days to add, e.x. 15 days
            var dateFormated = someDate.toISOString().substr(0, 10);
            $("#sp-date").val(dateFormated);
            loanPlay();
        });

        $(".funPlay").click(function (event) {
            var _Post = $("#txtPost").val();
            var _PlayType = $("#txtPlayType").val();
            var _Num = $("#txtNum").val();
            var _INum = $("#txtINum").val();
            var _Amount = $("#txtAmount").val();
            var _Post = '';
            var _num = $("#txtNum").val();
            var _num1 = $("#txtNum1").val();
            var _Post = $("#txtPost").val();
            if (_Post == '') {
                alert("សូមជ្រើសរើសប៉ុស្តន៍!..");
                //$("#txtNum").focus();
                return;
            }

            if (_Num == '') {
                alert("សូមជ្រើសរើសលេខចាក់!..");
                $('.sp-input').removeClass('spselected');
                $("#txtNum").addClass("spselected");
                return;
            }

            if (_PlayType == "2") {
                if (_num1 == '') {
                    alert("សូមជ្រើសរើសប៉ុស្តន៍!..");
                    //$("#txtNum").focus();
                    return;
                }
            }

            if (_Amount == '') {
                alert("សូមជ្រើសចំនួនប្រាក់!..");
                $('.sp-input').removeClass('spselected');
                $("#txtAmount").addClass("spselected");
                return;
            }
            if (_PlayType == '') {
                _PlayType = 0;
            }

            //   var _Amount = $("#txtAmount").val();
            var _PlayType = $("#txtPlayType").val();
            var _postValue = $("#txtPost").data("multiplier");

            // alert(_postValue + _Amount);

            var _total = 0;
            var _LDisplay = "";
            var _commision = 70;
            var _TotalCommision = 0;
            if (!_postValue) {
                _postValue = 1;
            }
            _total = (TryParseInt(_Amount, 0)) * (_postValue);
            _TotalCommision = _total * _commision / 100;
            // alert(_PlayType + "::" + _Amount);
            if (_PlayType == "1") {
                _total = ((_Amount) * (_postValue));
                _TotalCommision = _total * _commision / 100;
                _LDisplay =
                               '        <tr class="trD" '
                                + ' data-post="' + _Post + '"'
                                + ' data-PlayAmount="' + _Amount + '"'
                                + ' data-number="' + _num + '"'
                                + ' data-number1="' + _num1 + '"'
                                + ' data-NumIncrease="' + _INum + '"'
                                + ' data-PlayType="' + _PlayType + '"'
                                + ' data-PostMultiplier="' + _postValue + '">' +
                                '            <td>' + $("#txtNum").val() + '</td> ' +
                                '            <td>:</td> ' +
                                '            <td>' + $("#txtAmount").val() + ' ៛ </td> ' +
                                '        </tr> ';

            } else if (_PlayType == "2") {
                _total = ((TryParseInt(_Amount, 0)) * (_postValue)) * _INum;
                _TotalCommision = _total * _commision / 100;
                _LDisplay =
                               '        <tr class="trD" '
                                + ' data-post="' + _Post + '"'
                                + ' data-PlayAmount="' + _Amount  + '"'
                                + ' data-number="' + _num + '"'
                                + ' data-number1="' + _num1 + '"'
                                + ' data-NumIncrease="' + _INum + '"'
                                + ' data-PlayType="' + _PlayType + '"'
                                + ' data-PostMultiplier="' + _postValue + '">' +
                               '            <td>' + $("#txtNum").val() + '</td> ' +
                               '            <td>:</td> ' +
                               '            <td>' + $("#txtAmount").val() + ' ៛ </td> ' +
                               '        </tr> ' +
                               '        <tr> ' +
                               '            <td><span><i class="fa fa-long-arrow-down"></i></span></td> ' +
                               '            <td>:</td> ' +
                               '            <td><span><i class="fa fa-long-arrow-down"></i></span></td> ' +
                               '        </tr> ' +
                               '        <tr> ' +
                               '            <td>' + $("#txtNum1").val() + '</td> ' +
                               '            <td>:</td> ' +
                               '            <td>' + $("#txtAmount").val() + ' ៛ </td> ' +
                               '        </tr> ';
            } else if (_PlayType == "3") {

                _total = ((TryParseInt(_Amount, 0)) * (_postValue)) * _INum;
                _TotalCommision = _total * _commision / 100;
                _LDisplay = '        <tr class="trD" '
                                + ' data-post="' + _Post + '"'
                                + ' data-PlayAmount="' + _Amount  + '"'
                                + ' data-number="' + _num + '"'
                                + ' data-number1="' + _num1 + '"'
                                + ' data-NumIncrease="' + _INum + '"'
                                + ' data-PlayType="' + _PlayType + '"'
                                + ' data-PostMultiplier="' + _postValue + '">' +
                              '            <td>' + $("#txtNum").val() + '</td> ' +
                              '            <td>:</td> ' +
                              '            <td>' + $("#txtAmount").val() + ' ៛ </td> ' +
                              '        </tr> ' +
                              '        <tr> ' +
                              '            <td><span><i class="fa fa-long-arrow-down"></i></span></td> ' +
                              '            <td>(' + _INum + '):</td> ' +
                              '            <td><span><i class="fa fa-long-arrow-down"></i></span></td> ' +
                              '        </tr> ' +
                              '        <tr> ' +
                              '            <td>' + $("#txtNum1").val() + '</td> ' +
                              '            <td>:</td> ' +
                              '            <td>' + $("#txtAmount").val() + ' ៛ </td> ' +
                              '        </tr> ';
            }
            else if (_PlayType == "4") {

                _total = ((TryParseInt(_Amount, 0)) * (_postValue)) * _INum;
                _TotalCommision = _total * _commision / 100;

                _LDisplay =
                                '        <tr class="trD" '
                                + ' data-post="' + _Post + '"'
                                + ' data-PlayAmount="' + _Amount  + '"'
                                + ' data-number="' + _num + '"'
                                + ' data-number1="' + _num1 + '"'
                                + ' data-NumIncrease="' + _INum + '"'
                                + ' data-PlayType="' + _PlayType + '"'
                                + ' data-PostMultiplier="' + _postValue + '">' +
                               '            <td>' + $("#txtNum").val() + '</td> ' +
                               '            <td>:</td> ' +
                               '            <td>' + $("#txtAmount").val() + ' ៛ </td> ' +
                               '        </tr> ' +
                               '        <tr> ' +
                               '            <td><span><i class="fa fa-long-arrow-down"></i></span></td> ' +
                               '            <td>:</td> ' +
                               '            <td><span><i class="fa fa-long-arrow-down"></i></span></td> ' +
                               '        </tr> ' +
                               '        <tr> ' +
                               '            <td>' + $("#txtNum1").val() + '</td> ' +
                               '            <td>:</td> ' +
                               '            <td>' + $("#txtAmount").val() + ' ៛ </td> ' +
                               '        </tr> ';
            } else if (_PlayType == "5") {

                var _numDigLeng = $("#txtNum").val().length;
                var _txtNum = $("#txtNum").val();
                var _dx = 1;

                //alert(_txtNum.substr(0, 1) + ":" + _txtNum.substr(1, 1) + ":" + _txtNum.substr(2, 1));
                if (_numDigLeng > 2) {
                    if (_txtNum.substr(0, 1) == _txtNum.substr(1, 1) == _txtNum.substr(2, 1)) {
                        _dx = 1;
                    } else if (_txtNum.substr(0, 1) == _txtNum.substr(1, 1)) {
                        _dx = 3;
                    } else if (_txtNum.substr(0, 1) == _txtNum.substr(2, 1)) {
                        _dx = 3;
                    } else if (_txtNum.substr(1, 1) == _txtNum.substr(2, 1)) {
                        _dx = 3;
                    } else {
                        _dx = 6;
                    }
                } else {
                    if (_txtNum.substr(0, 1) != _txtNum.substr(1, 1)) {
                        _dx = 2;
                    } else{
                        _dx = 1;
                    }
                }

                //alert(_dx);
                _total = (( TryParseInt(_Amount, 0)) * (_postValue) ) * _dx;
                _TotalCommision = _total * _commision / 100 ;

                _LDisplay =
                              '        <tr class="trD" '
                                + ' data-post="' + _Post + '"'
                                + ' data-PlayAmount="' + _Amount  + '"'
                                + ' data-number="' + _num + '"'
                                + ' data-number1="' + _num1 + '"'
                                + ' data-NumIncrease="' + _INum + '"'
                                + ' data-PlayType="' + _PlayType + '"'
                                + ' data-PostMultiplier="' + _postValue + '">' +
                              '            <td>' + $("#txtNum").val() + '</td> ' +
                              '            <td>*:</td> ' +
                              '            <td>' + $("#txtAmount").val() + ' ៛ </td> ' +
                              '        </tr> ' ;
            }

            //if(1){

            //}

            //alert(_LDisplay);
            var _value = $(this).data("value");
           // alert(_value);
            if (_value == 'show') {
                $("#tblTotal").hide();
                if ($('#' + _Post).length !== 0) {
                    //alert('#' + _Post)
                    $('#' + _Post + " tbody").append(_LDisplay);
                    //Your Code Here
                } else {
                    _LDisplay = '<div class="LDisplay" id= "' + $("#sp-session").val() +'">'+
                               '<div class="dSession" onclick="dRemove(this);"  style="padding-right:20px; font:larger;">(' + $("#sp-session").val() + ') <span class="dPost" data-value="3">' + $("#txtPost").val() + '</span> <i class="glyphicon glyphicon-remove text-red dRemove" style="display:none;"></i></div> ' +
                               '<table class="text-right pull-right sptb-display" id="' + _Post + '"> '
                               + _LDisplay
                   + '</table> </div>'
                    //alert(_LDisplay);
                    $("#fdisplay").append(_LDisplay);
                }
				$("#txtAmount").val("");
            var objDiv = document.getElementById("fdisplay");
			objDiv.scrollTop = objDiv.scrollHeight;
			var height = objDiv.scrollHeight + 100;
			$('#fdisplay').animate({scrollTop: height});
               // $("#spLoad").click();
            } else if (_value == 'removeall') {

            }

        });

        $(".fPlayType").click(function (event) {
            //alert(_LDisplay);
            var _value = $(this).data("value");
            var _Num = $("#txtNum").val();
           // alert(_value);
            var _cPlayType = $("#txtPlayType").val();
           var _incNum = 0;
            if (_value == '2') {
                // var _a = _Num.substr(0, 1);
                var _a = _Num.substr(_Num.length - 1);
                _incNum = 9;
                //alert(_incNum);

                var _b = 9
                if (TryParseInt(_a, 0) != 0) {
                  b = 9  + TryParseInt(_a, 0) - 1;
                }

                //alert(_b);
                if (_b > 9) {
                    _b = 9;
                    _incNum = (9 - TryParseInt(_a, 0)) - 1;
                    $("#txtINum").val(_incNum);
                } else {
                    $("#txtINum").val(_b);
                }

                if (_b > 0) {
                    var _c = _Num.substr(0, _Num.length -1);
                    _Num = $("#txtNum1").val(_c + _b);
                }

                if (_value != _cPlayType) {
                    $("#p-sign").hide();
                    $("#p-sign-x").hide();
                    $("#p-last-num").show();
                    $("#p-sign").show();
                    $("#OptType").val(2);
                    $("#txtPlayType").val(_value);

                } else {
                    $("#p-sign").hide();
                    $("#p-sign-x").hide();
                    $("#p-last-num").hide();
                    $("#p-sign").hide();
                    $("#txtPlayType").val(1);

                }

            } else if (_value == '5') {
                if (_value != _cPlayType) {
                    $("#p-sign").hide();
                    $("#p-sign-x").hide();
                    $("#p-last-num").hide();
                    $("#p-sign-x").show();
                    var count = $("#txtNum").val().length;
                  //  alert(count);
                    if (count > 2) {
                        $("span#p-sign-x").text("x3");
                    } else {
                        $("span#p-sign-x").text("x2");
                    }
                    $("#txtPlayType").val(_value);
                } else {
                    $("#p-sign").hide();
                    $("#p-sign-x").hide();
                    $("#p-last-num").hide();
                    $("#p-sign").hide();
                    $("#txtPlayType").val(1);
                }
            }
            else if (_value == '6') {
                if ( _value != _cPlayType) {
                    $("#p-sign").hide();
                    $("#p-sign-x").hide();
                    $("#p-last-num").hide();
                    $("#p-sign-x").show();
                    $("#txtPlayType").val(_value);
                } else {
                    $("#p-sign").hide();
                    $("#p-sign-x").hide();
                    $("#p-last-num").hide();
                    $("#p-sign").hide();
                    $("#txtPlayType").val(1);
                }
            }

            else if (_value == '1') {
                $("#p-sign").hide();
                $("#p-sign-x").hide();
                $("#p-last-num").hide();
                $("#txtPlayType").val(_value);
            }

        });

        $("#txtINum").change(function (event) {

            var _oNum = $("#OptType").val();

            var _Num = $("#txtNum").val();

            var _incNum = $("#txtINum").val();

            var _txtPlayType = $("#txtPlayType").val();

            var _Num2 = 0;
            //alert(_oNum);
            if (_txtPlayType == 5) {
                var count = $("#txtNum").val().length;
                //alert(count);
                if (count > 2) {
                    $("span#p-sign-x").text("x3");
                } else {
                    $("span#p-sign-x").text("x2");
                }
            }
            if (_oNum == "2") {
                //alert();
                var _a = _Num.substr(0, 1);
                var _b = (TryParseInt(_incNum, 0) + TryParseInt(_a, 0)) - 1;
                if (_b > 9) {
                    _b = 9;
                    _incNum = (9 - TryParseInt(_a, 0)) - 1;
                    $("#txtINum").val(_incNum);
                }

                if (_b > 0) {
                    var _c = _Num.substr(1, 3);

                    _Num = $("#txtNum1").val(_b + _c);
                }

            } else if (_oNum == "3") {
                if (_Num.length > 2) {

                    var _a = _Num.substr(1, 1);

                    var _b = (TryParseInt(_incNum, 0) + TryParseInt(_a, 0)) - 1;

                    if (_b > 9) {

                        _b = 9;
                        _incNum = (9 - TryParseInt(_a, 0)) - 1;
                        $("#txtINum").val(_incNum);
                    }

                    if (_b > 0) {
                        var _c = _Num.substr(0, 1);
                        var _d = _Num.substr(2, 1);
                        _Num = $("#txtNum1").val( _c + _b + _d);
                    }

                } else {

                }
            } else if (_oNum == "4") {
                if (_Num.length > 2) {
                    var _a = _Num.substr(2, 1);
                    var _b = (TryParseInt(_incNum, 0) + TryParseInt(_a, 0)) - 1;
                    var _c = _Num.substr(0, 2);
                    if (_b > 9) {
                        _b = 9;
                        _incNum = (9 - TryParseInt(_a, 0)) - 1;
                        $("#txtINum").val(_incNum);
                    }

                    if (_b > 0) {
                        _Num = $("#txtNum1").val(_c + _b);
                    }

                } else {
                    var _a = _Num.substr(1, 1);
                    var _b = (TryParseInt(_incNum, 0) + TryParseInt(_a, 0)) - 1;
                    var _c = _Num.substr(0, 1);
                    if (_b > 9) {
                        _b = 9;
                        _incNum = (9 - TryParseInt(_a, 0)) - 1;
                        $("#txtINum").val(_incNum);
                    }

                    if (_b > 0) {
                        _Num = $("#txtNum1").val(_c + _b);
                    }
                }

            }

        });

        $("#txtNum").change(function (event) {

            var _oNum = $("#OptType").val();

            var _Num = $("#txtNum").val();

            var _incNum = $("#txtINum").val();

            var _txtPlayType = $("#txtPlayType").val();

            var _Num2 = 0;
            //alert(_oNum);
            if (_txtPlayType == 5) {
                var count = $("#txtNum").val().length;
               // alert(count);
                if (count > 2) {
                    $("span#p-sign-x").text("x3");
                } else {
                    $("span#p-sign-x").text("x2");
                }
            } else if(_txtPlayType == 2){
                //alert();
                // var _a = _Num.substr(0, 1);
                var _a = _Num.substr(_Num.length - 1);
                _incNum = 9;
                //alert(_incNum);

                var _b = 9 + TryParseInt(_a, 0) - 1;
                //alert(_b);
                if (_b > 9) {
                    _b = 9;
                    _incNum = (9 - TryParseInt(_a, 0)) - 1;
                    $("#txtINum").val(_incNum);
                } else {
                    $("#txtINum").val(_b);
                }

                if (_b > 0) {
                    var _c = _Num.substr(0, _Num.length - 1);
                    _Num = $("#txtNum1").val(_c + _b);
                }

            }

        });

        $(".key").click(function (event) {
            var _value = $(this).data("value");
            var _id = $('.spselected').attr("id");

            $('.spselected').val($('.spselected').val() + _value);

            var spvalue = TryParseInt($('.spselected').val(),00);


            if (spvalue > 999 && _id == "txtNum") {
                $('.spselected').val("");
            }else if(spvalue > 99999 && _id == "txtAmount") {
                $('.spselected').val("");
            }


            if (_id == "txtNum") {
                $("#txtNum").change();
            }

            var _id = $('.spselected').attr('id');
            if (_id == 'sp-session') {
                $("#sp-session").change();
                loanPlay();
            }

        });

        $(".KeyEnter").click(function (event) {
            event.preventDefault();

            if ($("#sp-agency").val() == 0) {
                alert("សូមជ្រើសរើសភ្នាក់ងា!..");
                return false;
            }
            var _spselected = $(".spselected");
            var _spselectedid = _spselected.attr('id');
            var _PlayType = $("#txtPlayType").val();
            //alert(_spselectedid);
            var _Num = $("#txtNum").val();
            var _Num1 = $("#txtNum1").val();
            var _Amount = $("#txtAmount").val();
            if (_PlayType != "2") {
                if (_Num == '') {
                    // alert("សូមជ្រើសរើសលេខចាក់!..");
                    $('.sp-input').removeClass('spselected');
                    $("#txtNum").addClass("spselected");
                    return;
                }
                if (_Amount == '') {
                    //alert("សូមជ្រើសចំនួនប្រាក់!..");
                    $('.sp-input').removeClass('spselected');
                    $("#txtAmount").addClass("spselected");
                    return;
                }

                if (_spselectedid == 'txtNum') {
                    $('.sp-input').removeClass('spselected');
                    $("#txtAmount").addClass("spselected");
                } else {
                    $(".funPlay").click();
                    $('.sp-input').removeClass('spselected');
                    $("#txtNum").val("");
                    $("#txtNum").addClass("spselected");
                }
            } else {

                if (_spselectedid == 'txtNum') {
                    $('.sp-input').removeClass('spselected');
                    $("#txtNum1").addClass("spselected");
                    //$("#txtAmount").addClass("spselected");
                } else if (_spselectedid == 'txtNum1') {
                    //$(".funPlay").click();
                    $('.sp-input').removeClass('spselected');
                   // $("#txtNum").val("");
                    $("#txtAmount").addClass("spselected");
                } else if (_spselectedid == 'txtAmount') {
                    if (_Num == '') {
                        // alert("សូមជ្រើសរើសលេខចាក់!..");
                        $('.sp-input').removeClass('spselected');
                        $("#txtNum").addClass("spselected");

                        return;
                    }
                    if (_Num1 == '') {
                        // alert("សូមជ្រើសរើសលេខចាក់!..");
                        $('.sp-input').removeClass('spselected');
                        $("#txtNum1").addClass("spselected");
                        return;
                    }
                    if (_Amount == '') {
                        //alert("សូមជ្រើសចំនួនប្រាក់!..");
                        $('.sp-input').removeClass('spselected');
                        $("#txtAmount").addClass("spselected");
                        return;
                    }

                    $(".funPlay").click();
                    $('.sp-input').removeClass('spselected');
                    $("#txtNum").val("");
                    $("#txtNum1").val("");
					$("#txtAmount").val("");
                    $("#txtNum").addClass("spselected");
                }
            }


        });

        $(".KeyPlus").click(function (event) {
            event.preventDefault();

            if ($("#sp-agency").val() == 0) {
                alert("សូមជ្រើសរើសភ្នាក់ងា!..");
                return false;
            }
            var _spselected = $(".spselected");
            var _spselectedid = _spselected.attr('id');
            var _PlayType = $("#txtPlayType").val();
            //alert(_spselectedid);
            var _Num = $("#txtNum").val();
            var _Num1 = $("#txtNum1").val();
            var _Amount = $("#txtAmount").val();
            if (_PlayType != "2") {
                if (_Num == '') {
                    // alert("សូមជ្រើសរើសលេខចាក់!..");
                    $('.sp-input').removeClass('spselected');
                    $("#txtNum").addClass("spselected");
                    return;
                }
                if (_Amount == '') {
                    //alert("សូមជ្រើសចំនួនប្រាក់!..");
                    $('.sp-input').removeClass('spselected');
                    $("#txtAmount").addClass("spselected");
                    return;
                }

                if (_spselectedid == 'txtNum') {
                    $('.sp-input').removeClass('spselected');
                    $("#txtAmount").addClass("spselected");
                } else {
                    $(".funPlay").click();
                    $('.sp-input').removeClass('spselected');
                    $("#txtNum").val("");
                    $("#txtNum").addClass("spselected");
                }
            } else {

                if (_spselectedid == 'txtNum') {
                    $('.sp-input').removeClass('spselected');
                    $("#txtNum1").addClass("spselected");
                    //$("#txtAmount").addClass("spselected");
                } else if (_spselectedid == 'txtNum1') {
                    //$(".funPlay").click();
                    $('.sp-input').removeClass('spselected');
                    // $("#txtNum").val("");
                    $("#txtAmount").addClass("spselected");
                } else if (_spselectedid == 'txtAmount') {
                    if (_Num == '') {
                        // alert("សូមជ្រើសរើសលេខចាក់!..");
                        $('.sp-input').removeClass('spselected');
                        $("#txtNum").addClass("spselected");

                        return;
                    }
                    if (_Num1 == '') {
                        // alert("សូមជ្រើសរើសលេខចាក់!..");
                        $('.sp-input').removeClass('spselected');
                        $("#txtNum1").addClass("spselected");
                        return;
                    }
                    if (_Amount == '') {
                        //alert("សូមជ្រើសចំនួនប្រាក់!..");
                        $('.sp-input').removeClass('spselected');
                        $("#txtAmount").addClass("spselected");
                        return;
                    }

                    $(".funPlay").click();
                    $('.sp-input').removeClass('spselected');
                    $("#txtNum").val("");
                    $("#txtNum1").val("");
                    $("#txtAmount").val("");
                    $("#txtNum").addClass("spselected");
                }
            }


        });

        $("#OptType").change(function (event) {
            $("#txtINum").change();

            //alert(_LDisplay);
            var _value = $("#OptType").val();
            //alert(_value);
            var _cPlayType = $("#txtPlayType").val();

            if (_value == '2' || _value == '3' || _value == '4') {
                if (_value != _cPlayType) {
                    $("#p-sign").hide();
                    $("#p-sign-x").hide();
                    $("#p-last-num").show();
                    $("#p-sign").show();
                    $("#txtPlayType").val(_value);

                } else {
                    $("#p-sign").hide();
                    $("#p-sign-x").hide();
                    $("#p-last-num").show();
                    $("#p-sign").show();
                    $("#txtPlayType").val(_value);
                }

            } else if (_value == '5') {
                if (_value != _cPlayType) {
                    $("#p-sign").hide();
                    $("#p-sign-x").hide();
                    $("#p-last-num").show();
                    $("#p-sign-x").show();

                    $("#txtPlayType").val(_value);
                } else {
                    $("#p-sign").hide();
                    $("#p-sign-x").hide();
                    $("#p-last-num").hide();
                    $("#p-sign").hide();
                    $("#txtPlayType").val(1);
                }
            }
            else if (_value == '6') {
                if (_value != _cPlayType) {
                    $("#p-sign").hide();
                    $("#p-sign-x").hide();
                    $("#p-last-num").hide();
                    $("#p-sign-x").show();

                    $("#txtPlayType").val(_value);
                } else {
                    $("#p-sign").hide();
                    $("#p-sign-x").hide();
                    $("#p-last-num").hide();
                    $("#p-sign").hide();
                    $("#txtPlayType").val(1);
                }
            }

            else if (_value == '1') {
                $("#p-sign").hide();
                $("#p-sign-x").hide();
                $("#p-last-num").hide();
                $("#txtPlayType").val(_value);
            }
            if ($("#OptType").val() == "1") {

            }

        });

        $(".funcR").click(function (event) {
            var _value = $(this).data("value");
            //alert(_value);
            if (_value == 'remove') {
                var olval = $('.spselected').val();
                var value = olval.substring(0, olval.length - 1);
                $('.spselected').val(value);
                var _id = $('.spselected').attr('id');
                if (_id == 'txtNum') {
                    $("#txtNum").change();
                }

            } else if (_value == 'removeall') {

                $('.spselected').val('');
                var _id = $('.spselected').attr('id');
                if (_id == 'txtNum') {
                    $("#txtNum").change();
                } else if (_id == 'txtNum') {

                }

            } else if (_value == 'newSession') {
                var _val = $("#sp-session").val();
                $("#sp-session").val(parseInt(_val) + 1);
                loanPlay();

            }
        });

        //Shift
        $(".kShift").click(function (event) {
            event.preventDefault();
            var _value = $(this).data("value");
            var _txt = $(this).data("text");
            if (_value != "OK") {
                //$("#btnShift").val(_value);
                $('#btnShift').data('value', _value);
                $('#shift-text').text( _txt);
                if (_value != "1") {
                    $('#btnPost').attr("data-target", "#ePost");
                } else {
                    $('#btnPost').attr("data-target", "#mPost");
                }
                $("#mShift").modal("hide");
                loanPlay();
            } else {
                $("#mShift").modal("hide");
            }

        });
        // al
        $(".kpost").click(function (event) {
            event.preventDefault();
            var _value = $(this).data("value");
            var _multiplier = $(this).data('multiplier');
            //alert(_value);
            if (_value != "OK") {
                $("#txtPost").val(_value);
                // alert(_multiplier);
                $("#txtPost").data("multiplier", _multiplier);
                $('#txtPost').attr("data-multiplier", _multiplier);
                $("#mPost").modal("hide");
                $("#ePost").modal("hide");
            } else {

                $("#mPost").modal("hide");
                $("#ePost").modal("hide");
            }
            // alert(_value);
        });

        $("#spPlay").click(function (event) {
            event.preventDefault();
            //alert("#spPlay");
            if ($("#sp-agency").val() == 0) {
                alert("សូមជ្រើសរើសភ្នាក់ងា!..");
                return false;
            }
            i = 1;

            $("tr.trD").each(function (ix, element) {

                var d = new Date();
                var strDate = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();

                $("#sp-date").val(strDate);


                var validate = true;
                if (validate == false) {
                    alert('false');
                    return;
                } else {

                    var error_free = true;
                    var url = "/Front/_save";
                    //alert(url);
                    if (!error_free) {
                        //event.preventDefault();
                    }
                    else {
                        //alert('No errors: Form will be submitted');
                        //event.preventDefault();

                        var HORGADDID = $('#HORGADDID').val();
                        _Date = $("#sp-date").val();
                        Shift = $("#btnShift").data("value");
                        var _post = $(this).data("post");
                        var _number = $(this).data("number");
                        var _number1 = $(this).data("number1");
                        var _agency = $("#sp-agency").val();
                        var Session = $("#sp-session").val();
                        var _NumIncrease = $(this).data("numincrease");
                        var _PlayType = $(this).data("playtype");
                        var _PostMultiplier = $(this).data("postmultiplier");
                        var _PlayAmount = $(this).data("playamount");
                        var _PlayTypeMultiplier = 1;

                        if (_PlayType != 2) {
                            _NumIncrease = 1;
                            _number1 = '';
                        } else if (_PlayType == 2) {

                            var oVal = _number.toString();
                            var oVal1 = _number1.toString();
                            if (oVal.length > 2) {
                                var n1 = oVal.substr(0, 1);
                                var n2 = oVal.substr(1, 1);
                                var n3 = oVal.substr(2, 1);

                                var in1 = oVal1.substr(0, 1);
                                var in2 = oVal1.substr(1, 1);
                                var in3 = oVal1.substr(2, 1);

                                if(n1 != in1 && (n2 == in2 && n3 == in3 )){
                                    if (n1 < in1) {
                                        _NumIncrease = (parseInt(in1, 0) - parseInt(n1, 0))+1 ;
                                    } else {
                                        _NumIncrease = (parseInt(n1, 0) - parseInt(in1, 0))+1;
                                    }

                                } else if (n2 != in2 && (n1 == in1 && n3 == in3)) {
                                    if (n2 < in2) {
                                        _NumIncrease = (parseInt(in2, 0) - parseInt(n2, 0)) + 1;
                                    } else {
                                        _NumIncrease = (parseInt(n2, 0) - parseInt(in2, 0)) + 1;
                                    }
                                } else if (n3 != in3 && (n1 == in1 && n2 == in2)) {
                                    if (n3 < in3) {
                                        _NumIncrease = (parseInt(in3, 0) - parseInt(n3, 0)) + 1;
                                    } else {
                                        _NumIncrease = (parseInt(n3, 0) - parseInt(in3, 0)) + 1;
                                    }
                                } else if((n1 == in1) && (n2 == in2 && n3 == in3 )) {
                                    _NumIncrease = 1;
                                } else {
                                    if (_number < _number1) {
                                        _NumIncrease = (parseInt(_number1, 0) - parseInt(_number, 0)) + 1;
                                    } else {
                                        _NumIncrease = (parseInt(_number, 0) - parseInt(_number1, 0)) + 1;
                                    }
                                }
                            } else {
                                var n1 = oVal.substr(0, 1);
                                var n2 = oVal.substr(1, 1);
                                //var n3 = oVal.substr(2, 1);

                                var in1 = oVal1.substr(0, 1);
                                var in2 = oVal1.substr(1, 1);
                                //var in3 = oVal.substr(2, 1);
                               // alert(in1 + ':' + in1 + '-' + n2 + ':' + in2 );
                                if (n1 != in1 && n2 == in2) {
                                    if (n1 < in1) {
                                        _NumIncrease = (parseInt(in1, 0) - parseInt(n1, 0)) + 1;
                                    } else {
                                        _NumIncrease = (parseInt(n1, 0) - parseInt(in1, 0)) + 1;
                                    }
                                } else if (n2 != in2 && n1 == in1) {
                                    if (n2 < in2) {
                                        _NumIncrease = (parseInt(in2, 0) - parseInt(n2, 0)) + 1;
                                    } else {
                                        _NumIncrease = (parseInt(n2, 0) - parseInt(in2, 0)) + 1;
                                    }
                                }  else if ((n1 == in1) && n2 == in2) {
                                    _NumIncrease = 1;
                                } else {
                                    if (_number < _number1) {
                                        _NumIncrease = (parseInt(_number1, 0) - parseInt(_number, 0)) + 1;
                                    } else {
                                        _NumIncrease = (parseInt(_number, 0) - parseInt(_number1, 0)) + 1;
                                    }
                                }
                            }

                        }
                        if (_PlayType == 5) {
                            var oVal = _number.toString()
                            if (oVal.length > 2) {
                                var n1 = oVal.substr(0, 1);
                                var n2 = oVal.substr(1, 1);
                                var n3 = oVal.substr(2, 1);

                              //  alert(n1 + ':' + n2 + ':' + n3)

                                if ((n1 != n2) && (n1 != n3) && (n2 != n3)) {
                                    _PlayTypeMultiplier = 6;
                                } else if ((n1 == n2) && (n1 == n3)) {
                                    _PlayTypeMultiplier = 1;
                                } else {
                                    _PlayTypeMultiplier = 3;
                                }

                            } else  {
                                var n1 = oVal.substr(0, 1);
                                var n2 = oVal.substr(1, 2);

                               // alert(n1 + n2 )

                                if (n1 != n2) {
                                    _PlayTypeMultiplier = 2;
                                }  else {
                                    _PlayTypeMultiplier = 1;
                                }
                            }


                        }

                        data = {
                            "PlayDate": _Date
                            , "Shift": Shift
                            , "Session": Session
                            , "CustomerID": _agency
                            , "Number": _number
                            , "Number1": _number1
                            , "NumIncrease": _NumIncrease
                            , "Post": _post
                            , "PlayType": _PlayType
                            , "Multiplier": _PostMultiplier
                            , "PlayTypeMultiplier": _PlayTypeMultiplier
                            , "PlayAmount":  _PlayAmount
                        }

                        $.post(url, data, function (data) {
                            //  alert(data);
                            if (data.Status == "OK") {
                                $("#fdisplay").html("");
                                $("#txtAmount").val("");
                                $("#spLoad").click();

                            } else {
                                alert(data.Result);
                                //$('#dialogOrgMember #dialogContent').scrollTop(0);
                            }
                        });


                    }
                }
            });
        });

        $('.sp-input').click(function () {
            $('.sp-input').removeClass('spselected');
            $(this).addClass('spselected');
        });

       // });
        </script>
    </div>

}